.navbar{
	background-color:#e3df10 !important;
}
.navbar .navbar-brand{
	font-weight: bold;
}
body{
	background-color:#151515 !important;
	background-size: 100%;
}
.oNama{
	font-size: 12pt;
	font-family: Times New Roman;
	
}

h2{
	margin-left: 20px;
	margin-top: 20px;
	margin-left: 10px;
}
